
body { position: relative; }
code { background-color: transparent; }
h2[id]::before, h3[id]::before { content: ""; display: block; height: 70px; margin-top: -70px; }
img { max-height: 630px; max-width: 630px; }
.recent-post figure, span.highlighted, span.dropcap4, .loved-item:hover .loved-count, .flickr-widget li, .portfolio-grid li, .wpcf7 input.wpcf7-submit[type="submit"], .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li span.current, figcaption .product-added, .woocommerce .wc-new-badge, .yith-wcwl-wishlistexistsbrowse a, .yith-wcwl-wishlistaddedbrowse a, .woocommerce .widget_layered_nav ul li.chosen > *, .woocommerce .widget_layered_nav_filters ul li a, .sticky-post-icon, .fw-video-close:hover { color: rgb(244, 121, 32); background-color: rgb(38, 34, 98) !important; }
a:hover, #sidebar a:hover, .pagination-wrap a:hover, .carousel-nav a:hover, .portfolio-pagination div:hover > i, #footer a:hover, .beam-me-up a:hover span, .portfolio-item .portfolio-item-permalink, .read-more-link, .blog-item .read-more, .blog-item-details a:hover, .author-link, #reply-title small a, span.dropcap2, .spb_divider.go_to_top a, .love-it-wrapper .loved, .comments-likes .loved span.love-count, .item-link:hover, #header-translation p a, #breadcrumbs a:hover, .ui-widget-content a:hover, .yith-wcwl-add-button a:hover, #product-img-slider li a.zoom:hover, .woocommerce .star-rating span, .article-body-wrap .share-links a:hover, ul.member-contact li a:hover, .price ins, .bag-product a.remove:hover, .bag-product-title a:hover, #back-to-top:hover, ul.member-contact li a:hover, .fw-video-link-image:hover i, .ajax-search-results .all-results:hover, .search-result h5 a:hover .ui-state-default a:hover, .fw-video-link-icon:hover { color: rgb(38, 34, 98); }
.carousel-wrap > a:hover, #mobile-menu ul li:hover > a { color: rgb(38, 34, 98) !important; }
nav .menu ul li:first-child::after, .navigation a:hover > .nav-text, .returning-customer a:hover { border-bottom-color: rgb(38, 34, 98); }
nav .menu ul ul li:first-child::after { border-right-color: rgb(38, 34, 98); }
.loading-bar-transition .pace .pace-progress { background-color: rgb(38, 34, 98); }
body, .layout-fullwidth #container { background-color: rgb(238, 237, 243); background-size: auto; }
#main-container, .tm-toggle-button-wrap a { background-color: rgb(255, 255, 255); }
a:hover, a:focus { color: rgb(26, 19, 76); }
input[type="submit"], button[type="submit"], input[type="file"], select { border-color: rgb(208, 215, 224); }
textarea:focus, input:focus { border-color: rgb(153, 153, 153) !important; }
#top-bar { background: rgb(255, 255, 255); }
#top-bar .tb-text { color: rgb(26, 19, 76); }
#top-bar .tb-text > a, #top-bar nav .menu > li > a { color: rgb(102, 102, 102); }
#top-bar .menu li { border-left-color: rgb(227, 227, 227); border-right-color: rgb(227, 227, 227); }
#top-bar .menu > li > a, #top-bar .menu > li.parent::after { color: rgb(102, 102, 102); }
#top-bar .menu > li > a:hover, #top-bar a:hover { color: rgb(39, 196, 164); }
.header-wrap, .header-standard-overlay #header, .vertical-header .header-wrap #header-section, #header-section .is-sticky #header.sticky-header { background-color: rgb(255, 255, 255); }
.header-left a, .header-right a, .vertical-menu-bottom .copyright a, #header .header-left ul.menu > li > a.header-search-link-alt, #header .header-right ul.menu > li > a.header-search-link-alt { color: rgb(228, 228, 228); }
#header .header-left ul.menu > li:hover > a.header-search-link-alt, #header .header-right ul.menu > li:hover > a.header-search-link-alt { color: rgb(42, 188, 183) !important; }
#header-search a:hover, .super-search-close:hover { color: rgb(38, 34, 98); }
#header-languages .current-language { color: rgb(0, 0, 0); background: rgb(247, 247, 247); }
#header-section #main-nav { border-top-color: rgb(255, 255, 255); }
.page-content { border-bottom-color: rgb(208, 215, 224); }
#mobile-top-text, #mobile-header { border-bottom-color: rgb(255, 255, 255); background-color: rgb(255, 255, 255); }
#mobile-top-text, #mobile-logo h1 { color: rgb(255, 255, 255); }
#mobile-top-text a, #mobile-header a { color: rgb(228, 228, 228); }
#mobile-header a.mobile-menu-link span.menu-bars, #mobile-header a.mobile-menu-link span.menu-bars::before, #mobile-header a.mobile-menu-link span.menu-bars::after { background-color: rgb(228, 228, 228); }
#mobile-menu-wrap, #mobile-cart-wrap { color: rgb(228, 228, 228); background-color: rgb(26, 19, 76); }
.mobile-search-form input[type="text"] { color: rgb(228, 228, 228); border-bottom-color: rgb(68, 68, 68); }
#mobile-menu-wrap a, #mobile-cart-wrap a:not(.sf-button) { color: rgb(255, 255, 255); }
#mobile-menu-wrap a:hover, #mobile-cart-wrap a:not(.sf-button):hover { color: rgb(39, 196, 164); }
#mobile-menu ul li, .mobile-cart-menu li, .mobile-cart-menu .bag-header, .mobile-cart-menu .bag-product, .mobile-cart-menu .bag-empty { border-color: rgb(68, 68, 68); }
a.mobile-menu-link span, a.mobile-menu-link span::before, a.mobile-menu-link span::after { background: rgb(255, 255, 255); }
a.mobile-menu-link:hover span, a.mobile-menu-link:hover span::before, a.mobile-menu-link:hover span::after { background: rgb(39, 196, 164); }
.full-center #main-navigation ul.menu > li > a, .full-center .header-right ul.menu > li > a, .full-center nav.float-alt-menu ul.menu > li > a, .full-center .header-right div.text { height: 100px; line-height: 100px; }
.full-center #header, .full-center .float-menu { height: 100px; }
.full-center nav li.menu-item.sf-mega-menu > ul.sub-menu, .full-center .ajax-search-wrap { top: 100px !important; }
.browser-ff #logo a { }
.browser-ff .full-center #logo a, .full-center #logo { height: 100px; }
#logo.has-img img { max-height: 50px; }
#mobile-logo.has-img img { max-height: 50px; }
#logo.has-img, .header-left, .header-right { height: 40px; }
#mobile-logo { max-height: 40px; max-width: 122px; }
.full-center #logo.has-img a > img { height: 40px; }
#logo.has-img a > img { padding: 30px 0px; }
#logo.has-img a { height: 100px; }
#logo.has-img a > img { padding: 0px; }
.full-center.resized-header #main-navigation ul.menu > li > a, .full-center.resized-header .header-right ul.menu > li > a, .full-center.resized-header nav.float-alt-menu ul.menu > li > a, .full-center.resized-header .header-right div.text { height: 70px; line-height: 70px; }
.full-center.resized-header #logo, .full-center.resized-header #logo.no-img a { height: 70px; }
.full-center.resized-header #header, .full-center.resized-header .float-menu { height: 70px; }
.full-center.resized-header nav ul.menu > li.menu-item > ul.sub-menu, .full-center.resized-header nav li.menu-item.sf-mega-menu > ul.sub-menu, .full-center.resized-header nav li.menu-item.sf-mega-menu-alt > ul.sub-menu, .full-center.resized-header .ajax-search-wrap { top: 70px !important; }
.browser-ff .resized-header #logo a { height: 70px; }
.resized-header #logo.has-img a { height: 70px; }
.full-center.resized-header nav.float-alt-menu ul.menu > li > ul.sub-menu { top: 70px !important; }
#main-nav, .header-wrap[class*="page-header-naked"] #header-section .is-sticky #main-nav, #header-section .is-sticky .sticky-header, #header-section.header-5 #header, .header-wrap[class*="page-header-naked"] #header .is-sticky .sticky-header, .header-wrap[class*="page-header-naked"] #header-section.header-5 #header .is-sticky .sticky-header { background-color: rgb(255, 255, 255); }
nav#main-navigation .menu > li > a span.nav-line { background-color: rgb(7, 193, 182); }
nav .menu > li::before { background: rgb(7, 193, 182); }
nav .menu .sub-menu .parent > a::after { border-left-color: rgb(7, 193, 182); }
nav .menu ul.sub-menu { background-color: rgb(255, 255, 255); }
nav .menu ul.sub-menu li { border-top-color: rgb(255, 255, 255); border-top-style: none; }
li.menu-item.sf-mega-menu > ul.sub-menu > li { border-top-color: rgb(255, 255, 255); border-top-style: none; }
li.menu-item.sf-mega-menu > ul.sub-menu > li { border-right-color: rgb(255, 255, 255); border-right-style: none; }
nav .menu > li.menu-item > a, nav.std-menu .menu > li > a { color: rgb(26, 19, 76); }
#main-nav ul.menu > li, #main-nav ul.menu > li:first-child, #main-nav ul.menu > li:first-child, .full-center nav#main-navigation ul.menu > li, .full-center nav#main-navigation ul.menu > li:first-child, .full-center #header nav.float-alt-menu ul.menu > li { border-color: rgb(255, 255, 255); }
nav ul.menu > li.menu-item.sf-menu-item-btn > a > span.menu-item-text { border-color: rgb(26, 19, 76); color: rgb(244, 121, 32); background-color: rgb(26, 19, 76); }
nav ul.menu > li.menu-item.sf-menu-item-btn:hover > a > span.menu-item-text { border-color: rgb(38, 34, 98); color: rgb(244, 121, 32); background-color: rgb(38, 34, 98); }
nav .menu li.current-menu-ancestor > a, nav .menu li.current-menu-item > a, nav .menu li.current-scroll-item > a, #mobile-menu .menu ul li.current-menu-item > a { color: rgb(255, 255, 255); background-color: rgb(38, 34, 98); }
#header-section.header-5 #header nav.float-alt-menu { margin-right: 0px; }
nav .menu > li.menu-item:hover > a, nav.std-menu .menu > li:hover > a { color: rgb(244, 121, 32) !important; background-color: rgb(255, 255, 255); }
nav .menu ul.sub-menu li.menu-item > a, nav .menu ul.sub-menu li > span, nav.std-menu ul.sub-menu { color: rgb(102, 102, 102); }
nav .menu ul.sub-menu li.menu-item:hover > a { color: rgb(0, 0, 0) !important; background: rgb(247, 247, 247); }
nav .menu ul.sub-menu li.current-menu-ancestor > a, nav .menu ul.sub-menu li.current-menu-item > a { color: rgb(0, 0, 0) !important; background: rgb(247, 247, 247); }
#main-nav .header-right ul.menu > li, .wishlist-item { border-left-color: rgb(255, 255, 255); }
.shopping-bag::before, nav .menu ul.sub-menu li:first-child::before { border-bottom-color: rgb(7, 193, 182); }
.overlay-menu-open #logo h1, .overlay-menu-open .header-left, .overlay-menu-open .header-right, .overlay-menu-open .header-left a, .overlay-menu-open .header-right a { color: rgb(34, 34, 34) !important; }
.page-heading { background-color: rgb(247, 247, 247); }
.page-heading h1, .page-heading h3 { color: rgb(34, 34, 34); }
.page-heading .heading-text, .fancy-heading .heading-text { text-align: center; }
body { color: rgb(65, 64, 66); }
h1, h1 a { color: rgb(65, 64, 66); }
h2, h2 a { color: rgb(38, 34, 98); }
h3, h3 a { color: rgb(237, 28, 36); }
h5, h5 a { color: rgb(38, 34, 98); }
h6, h6 a { color: rgb(38, 34, 98); }
table { border-bottom-color: rgb(208, 215, 224); }
table td { border-top-color: rgb(208, 215, 224); }
.sidebar .widget_categories ul > li a:hover, .sidebar .widget_archive ul > li a:hover, .sidebar .widget_nav_menu ul > li a:hover, .widget_nav_menu ul > li.current-menu-item a, .sidebar .widget_meta ul > li a:hover, .sidebar .widget_recent_entries ul > li a:hover, .widget_product_categories ul > li a:hover, .widget_layered_nav ul > li a:hover, .widget_edd_categories_tags_widget ul li a:hover, .widget_display_replies ul li, .widget_display_forums ul > li a:hover, .widget_display_topics ul > li a:hover { color: rgb(26, 19, 76); }
#infscr-loading .spinner > div { background: rgb(208, 215, 224); }
.mini-blog-item-wrap, .mini-items .mini-alt-wrap, .mini-items .mini-alt-wrap .quote-excerpt, .mini-items .mini-alt-wrap .link-excerpt, .masonry-items .blog-item .quote-excerpt, .masonry-items .blog-item .link-excerpt, .timeline-items .standard-post-content .quote-excerpt, .timeline-items .standard-post-content .link-excerpt, .post-info, .author-info-wrap, .body-text .link-pages, .page-content .link-pages, .posts-type-list .recent-post, .standard-items .blog-item .standard-post-content { border-color: rgb(208, 215, 224); }
.spb_divider, .spb_divider.go_to_top_icon1, .spb_divider.go_to_top_icon2, .testimonials > li, .tm-toggle-button-wrap, .tm-toggle-button-wrap a, .portfolio-details-wrap, .spb_divider.go_to_top a, .widget_search form input { border-color: rgb(208, 215, 224); }
.divider-wrap h3.divider-heading::before, .divider-wrap h3.divider-heading::after { background: rgb(208, 215, 224); }
.spb_tabs .ui-tabs .ui-tabs-panel, .spb_content_element .ui-tabs .ui-tabs-nav, .ui-tabs .ui-tabs-nav li, .spb_tabs .nav-tabs li a { border-color: rgb(208, 215, 224); }
.standard-browser .ui-accordion h4.ui-accordion-header.ui-state-active:hover a, .standard-browser .ui-accordion h4.ui-accordion-header:hover .ui-icon { color: rgb(38, 34, 98); }
.progress.standard .bar { background: rgb(38, 34, 98); }
.spb_row_container .spb_tweets_slider_widget .spb-bg-color-wrap, .spb_tweets_slider_widget .spb-bg-color-wrap { background: rgb(29, 198, 223); }
.spb_testimonial_slider_widget .spb-bg-color-wrap { background: rgb(29, 198, 223); }
#copyright { border-top-color: rgb(51, 51, 51); background-color: rgb(51, 51, 51); }
#copyright p, #copyright .text-left, #copyright .text-right { color: rgb(228, 228, 228); }
#copyright a { color: rgb(228, 228, 228); }
#copyright a:hover, #copyright nav .menu li a:hover { color: rgb(244, 121, 32) !important; }
#copyright nav .menu li { border-left-color: rgb(51, 51, 51); }
.woocommerce-account p.myaccount_address, .woocommerce-account .page-content h2, p.no-items, #order_review table.shop_table, #payment_heading, .returning-customer a, .woocommerce #payment ul.payment_methods, .woocommerce-page #payment ul.payment_methods, .woocommerce .coupon, .summary-top { border-bottom-color: rgb(208, 215, 224); }
.bright-design h3.spb-heading::before, .bright-design h3.spb-heading::after, .bright-design .gform_heading h3::before, .bright-design .gform_heading h3::after { border-color: rgb(208, 215, 224); }
.bright-design .spb_accordion .spb_accordion_section > h4.ui-state-default, .bright-design .nav-tabs > li.active a { background-color: rgb(208, 215, 224); }
.bright-design .spb_accordion .spb_accordion_section > h4.ui-state-active { background-color: rgb(255, 255, 255) !important; }
.bright-design .spb_accordion .spb_accordion_section > h4:hover a, .bright-design .spb_accordion .spb_accordion_section > h4.ui-state-active a, .bright-design .spb_accordion .spb_accordion_section > h4.ui-state-active .ui-icon, .bright-design .nav-tabs > li.active a, .bright-design .spb_tour .nav-tabs li:hover a { color: rgb(38, 34, 98) !important; }
.bright-design .posts-type-list .recent-post:hover { background-color: rgb(38, 34, 98) !important; }
.bright-design .posts-type-list .recent-post:hover .details-wrap > h4 a, .bright-design .posts-type-list .recent-post:hover .details-wrap * { color: rgb(244, 121, 32); }
.bright-design .testimonials > li::before { color: rgb(38, 34, 98); }
h6 { text-transform: none !important; }
input.gsc-search-button { border-color: rgb(38, 34, 98) !important; color: rgb(255, 255, 255) !important; height: 22px !important; background-color: rgb(38, 34, 98) !important; }
input.gsc-input { margin: 4px 2px 2px; padding-top: 2px; height: 24px !important; }
.gsc-clear-button { visibility: hidden; }
td.gsc-search-button { }
#logo h1, #logo h2, #mobile-logo h1 { font-family: Lato; font-weight: 700; font-style: normal; color: rgb(255, 255, 255); font-size: 18px; }
body, p { font-family: 'Open Sans'; line-height: 26px; font-weight: 400; font-style: normal; font-size: 16px; }
h3 { font-family: 'Open Sans'; line-height: 30px; letter-spacing: 0px; font-weight: normal; font-style: normal; font-size: 25px; }
h4 { font-family: 'Open Sans'; line-height: 26px; font-weight: normal; font-style: normal; font-size: 20px; }
h5 { font-family: 'Open Sans'; line-height: 18px; font-weight: normal; font-style: normal; font-size: 14px; }
h6 { font-family: 'Open Sans'; line-height: 16px; letter-spacing: 0px; font-weight: 400; font-style: normal; font-size: 12px; }
#main-nav, #header nav, #vertical-nav nav, .header-9#header-section #main-nav, #overlay-menu nav, #mobile-menu, #one-page-nav li .hover-caption, .mobile-search-form input[type="text"] { font-family: 'Open Sans'; letter-spacing: 1px; font-weight: 700; font-style: normal; font-size: 14px; }
.nav > li { position: relative; display: block; font-size: 14px; }
.nav > li.active { position: relative; display: block; font-weight: bold; background-color: rgb(38, 34, 98); }
.nav > li > a { font-size: 14px; font-weight: bold; color: rgb(38, 34, 98); }
.nav > li > a:hover { color: orange; background-color: white; }
.nav > li.active > a:hover { color: orange; background-color: white; }
.nav > li.active > a { color: white; }
mark { color: inherit; font-style: italic; background: transparent; }
.std-menu > div > ul { list-style: none; }
ol { list-style: initial; margin: auto auto 20px 20px; padding: 0px; }
ul { list-style: initial; margin: auto auto 20px 20px; padding: 0px; }
#mobile-menu > div > ul { list-style: none; }
h3, h3 a { color: rgb(38, 34, 98); }
input[type="submit"].gsc-search-button { margin-bottom: 0px; border-color: rgb(38, 34, 98) !important; color: rgb(255, 255, 255) !important; height: 22px !important; background-color: rgb(38, 34, 98) !important; }
input.gsc-input { margin: 4px 2px 2px; padding-top: 2px; height: 24px !important; }
input.gsc-input { border-color: rgb(188, 205, 240); }
input.gsc-search-button { border-color: rgb(102, 102, 102); background-color: rgb(206, 206, 206); }
#wistia_1ba2d8d48c .wistia_romulus_control { -webkit-font-smoothing: antialiased; z-index: 1; }
#wistia_1ba2d8d48c .wistia_romulus_hidden { opacity: 0; transition: opacity 200ms linear 0s, width 0s linear 200ms, height 0s linear 200ms; }
#wistia_1ba2d8d48c .wistia_romulus_visible { opacity: 1; visibility: visible; transition: opacity 200ms linear 0s; }
#wistia_1ba2d8d48c .wistia_played { transition: width 300ms linear 0s; }
#wistia_1ba2d8d48c .wistia_playbar.wistia_dragging .wistia_played { }
#wistia_1ba2d8d48c .wistia_scrub_bar { transition: left 300ms linear 0s; }
#wistia_1ba2d8d48c .wistia_playbar.wistia_dragging .wistia_scrub_bar { }
#wistia_1ba2d8d48c .wistia_scrub_bar_top { height: 4px; left: 0px; position: absolute; top: 0px; width: 4px; background: rgba(255, 255, 255, 0.329412); }
#wistia_1ba2d8d48c .wistia_scrub_bar_middle { height: 24px; left: 0px; position: absolute; top: 4px; width: 4px; background: rgba(255, 255, 255, 0.658824); }
#wistia_1ba2d8d48c .wistia_scrub_bar_bottom { height: 4px; left: 0px; position: absolute; top: 28px; width: 4px; background: rgba(255, 255, 255, 0.329412); }
#wistia_1ba2d8d48c .wistia_menu_item { color: rgb(85, 85, 85); font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; padding: 6px 16px; transition: none; -webkit-font-smoothing: antialiased; background: transparent; }
#wistia_1ba2d8d48c .wistia_menu_item .wistia_bullet { display: inline-block; margin: -1px 7px 0px 0px; vertical-align: top; }
#wistia_1ba2d8d48c .wistia_menu_item.wistia_visible { display: block; }
#wistia_1ba2d8d48c .wistia_menu_item.wistia_hidden { display: none; }
#wistia_1ba2d8d48c .wistia_menu_item:hover { color: rgb(255, 255, 255); background: rgb(84, 187, 255); }
#wistia_1ba2d8d48c .wistia_menu_item.wistia_disabled { color: rgb(187, 187, 187); background: transparent; }
#wistia_1ba2d8d48c .wistia_menu_item.wistia_title { color: rgb(187, 187, 187); font-size: 11px; line-height: 1em; padding-bottom: 3px; background: transparent; }
#wistia_1ba2d8d48c .wistia_dont_animate { transition: none; }
#wistia_23 { object-fit: contain; }
#wistia_grid_24_wrapper { box-sizing: content-box; font-family: Arial, sans-serif; font-size: 14px; height: 100%; position: relative; text-align: left; width: 100%; }
#wistia_grid_24_wrapper * { box-sizing: content-box; }
#wistia_grid_24_above { position: relative; }
#wistia_grid_24_main { display: block; height: 100%; position: relative; }
#wistia_grid_24_behind { height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }
#wistia_grid_24_center { height: 100%; overflow: hidden; position: relative; width: 100%; }
#wistia_grid_24_front { display: none; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }
#wistia_grid_24_top_inside { position: absolute; left: 0px; top: 0px; width: 100%; }
#wistia_grid_24_top { width: 100%; position: absolute; bottom: 0px; left: 0px; }
#wistia_grid_24_bottom_inside { position: absolute; left: 0px; bottom: 0px; width: 100%; }
#wistia_grid_24_bottom { width: 100%; position: absolute; top: 0px; left: 0px; }
#wistia_grid_24_left_inside { height: 100%; position: absolute; left: 0px; top: 0px; }
#wistia_grid_24_left { height: 100%; position: absolute; right: 0px; top: 0px; }
#wistia_grid_24_right_inside { height: 100%; right: 0px; position: absolute; top: 0px; }
#wistia_grid_24_right { height: 100%; left: 0px; position: absolute; top: 0px; }
#wistia_grid_24_below { position: relative; }
#wistia_95a3d6c4de .wistia_romulus_control { -webkit-font-smoothing: antialiased; z-index: 1; }
#wistia_95a3d6c4de .wistia_romulus_hidden { opacity: 0; transition: opacity 200ms linear 0s, width 0s linear 200ms, height 0s linear 200ms; }
#wistia_95a3d6c4de .wistia_romulus_visible { opacity: 1; visibility: visible; transition: opacity 200ms linear 0s; }
#wistia_95a3d6c4de .wistia_played { transition: width 300ms linear 0s; }
#wistia_95a3d6c4de .wistia_playbar.wistia_dragging .wistia_played { }
#wistia_95a3d6c4de .wistia_scrub_bar { transition: left 300ms linear 0s; }
#wistia_95a3d6c4de .wistia_playbar.wistia_dragging .wistia_scrub_bar { }
#wistia_95a3d6c4de .wistia_scrub_bar_top { height: 4px; left: 0px; position: absolute; top: 0px; width: 4px; background: rgba(255, 255, 255, 0.329412); }
#wistia_95a3d6c4de .wistia_scrub_bar_middle { height: 24px; left: 0px; position: absolute; top: 4px; width: 4px; background: rgba(255, 255, 255, 0.658824); }
#wistia_95a3d6c4de .wistia_scrub_bar_bottom { height: 4px; left: 0px; position: absolute; top: 28px; width: 4px; background: rgba(255, 255, 255, 0.329412); }
#wistia_95a3d6c4de .wistia_menu_item { color: rgb(85, 85, 85); font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; padding: 6px 16px; transition: none; -webkit-font-smoothing: antialiased; background: transparent; }
#wistia_95a3d6c4de .wistia_menu_item .wistia_bullet { display: inline-block; margin: -1px 7px 0px 0px; vertical-align: top; }
#wistia_95a3d6c4de .wistia_menu_item.wistia_visible { display: block; }
#wistia_95a3d6c4de .wistia_menu_item.wistia_hidden { display: none; }
#wistia_95a3d6c4de .wistia_menu_item:hover { color: rgb(255, 255, 255); background: rgb(84, 187, 255); }
#wistia_95a3d6c4de .wistia_menu_item.wistia_disabled { color: rgb(187, 187, 187); background: transparent; }
#wistia_95a3d6c4de .wistia_menu_item.wistia_title { color: rgb(187, 187, 187); font-size: 11px; line-height: 1em; padding-bottom: 3px; background: transparent; }
#wistia_95a3d6c4de .wistia_dont_animate { transition: none; }
#wistia_150 { object-fit: contain; }
#wistia_grid_151_wrapper { box-sizing: content-box; font-family: Arial, sans-serif; font-size: 14px; height: 100%; position: relative; text-align: left; width: 100%; }
#wistia_grid_151_wrapper * { box-sizing: content-box; }
#wistia_grid_151_above { position: relative; }
#wistia_grid_151_main { display: block; height: 100%; position: relative; }
#wistia_grid_151_behind { height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }
#wistia_grid_151_center { height: 100%; overflow: hidden; position: relative; width: 100%; }
#wistia_grid_151_front { display: none; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }
#wistia_grid_151_top_inside { position: absolute; left: 0px; top: 0px; width: 100%; }
#wistia_grid_151_top { width: 100%; position: absolute; bottom: 0px; left: 0px; }
#wistia_grid_151_bottom_inside { position: absolute; left: 0px; bottom: 0px; width: 100%; }
#wistia_grid_151_bottom { width: 100%; position: absolute; top: 0px; left: 0px; }
#wistia_grid_151_left_inside { height: 100%; position: absolute; left: 0px; top: 0px; }
#wistia_grid_151_left { height: 100%; position: absolute; right: 0px; top: 0px; }
#wistia_grid_151_right_inside { height: 100%; right: 0px; position: absolute; top: 0px; }
#wistia_grid_151_right { height: 100%; left: 0px; position: absolute; top: 0px; }
#wistia_grid_151_below { position: relative; }
#wistia_36865dbffa .wistia_romulus_control { -webkit-font-smoothing: antialiased; z-index: 1; }
#wistia_36865dbffa .wistia_romulus_hidden { opacity: 0; transition: opacity 200ms linear 0s, width 0s linear 200ms, height 0s linear 200ms; }
#wistia_36865dbffa .wistia_romulus_visible { opacity: 1; visibility: visible; transition: opacity 200ms linear 0s; }
#wistia_36865dbffa .wistia_played { transition: width 300ms linear 0s; }
#wistia_36865dbffa .wistia_playbar.wistia_dragging .wistia_played { }
#wistia_36865dbffa .wistia_scrub_bar { transition: left 300ms linear 0s; }
#wistia_36865dbffa .wistia_playbar.wistia_dragging .wistia_scrub_bar { }
#wistia_36865dbffa .wistia_scrub_bar_top { height: 4px; left: 0px; position: absolute; top: 0px; width: 4px; background: rgba(255, 255, 255, 0.329412); }
#wistia_36865dbffa .wistia_scrub_bar_middle { height: 24px; left: 0px; position: absolute; top: 4px; width: 4px; background: rgba(255, 255, 255, 0.658824); }
#wistia_36865dbffa .wistia_scrub_bar_bottom { height: 4px; left: 0px; position: absolute; top: 28px; width: 4px; background: rgba(255, 255, 255, 0.329412); }
#wistia_36865dbffa .wistia_menu_item { color: rgb(85, 85, 85); font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; padding: 6px 16px; transition: none; -webkit-font-smoothing: antialiased; background: transparent; }
#wistia_36865dbffa .wistia_menu_item .wistia_bullet { display: inline-block; margin: -1px 7px 0px 0px; vertical-align: top; }
#wistia_36865dbffa .wistia_menu_item.wistia_visible { display: block; }
#wistia_36865dbffa .wistia_menu_item.wistia_hidden { display: none; }
#wistia_36865dbffa .wistia_menu_item:hover { color: rgb(255, 255, 255); background: rgb(84, 187, 255); }
#wistia_36865dbffa .wistia_menu_item.wistia_disabled { color: rgb(187, 187, 187); background: transparent; }
#wistia_36865dbffa .wistia_menu_item.wistia_title { color: rgb(187, 187, 187); font-size: 11px; line-height: 1em; padding-bottom: 3px; background: transparent; }
#wistia_36865dbffa .wistia_dont_animate { transition: none; }
#wistia_293 { object-fit: contain; }
#wistia_grid_294_wrapper { box-sizing: content-box; font-family: Arial, sans-serif; font-size: 14px; height: 100%; position: relative; text-align: left; width: 100%; }
#wistia_grid_294_wrapper * { box-sizing: content-box; }
#wistia_grid_294_above { position: relative; }
#wistia_grid_294_main { display: block; height: 100%; position: relative; }
#wistia_grid_294_behind { height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }
#wistia_grid_294_center { height: 100%; overflow: hidden; position: relative; width: 100%; }
#wistia_grid_294_front { display: none; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }
#wistia_grid_294_top_inside { position: absolute; left: 0px; top: 0px; width: 100%; }
#wistia_grid_294_top { width: 100%; position: absolute; bottom: 0px; left: 0px; }
#wistia_grid_294_bottom_inside { position: absolute; left: 0px; bottom: 0px; width: 100%; }
#wistia_grid_294_bottom { width: 100%; position: absolute; top: 0px; left: 0px; }
#wistia_grid_294_left_inside { height: 100%; position: absolute; left: 0px; top: 0px; }
#wistia_grid_294_left { height: 100%; position: absolute; right: 0px; top: 0px; }
#wistia_grid_294_right_inside { height: 100%; right: 0px; position: absolute; top: 0px; }
#wistia_grid_294_right { height: 100%; left: 0px; position: absolute; top: 0px; }
#wistia_grid_294_below { position: relative; }
#wistia_09343cf87b .wistia_romulus_control { -webkit-font-smoothing: antialiased; z-index: 1; }
#wistia_09343cf87b .wistia_romulus_hidden { opacity: 0; transition: opacity 200ms linear 0s, width 0s linear 200ms, height 0s linear 200ms; }
#wistia_09343cf87b .wistia_romulus_visible { opacity: 1; visibility: visible; transition: opacity 200ms linear 0s; }
#wistia_09343cf87b .wistia_played { transition: width 300ms linear 0s; }
#wistia_09343cf87b .wistia_playbar.wistia_dragging .wistia_played { }
#wistia_09343cf87b .wistia_scrub_bar { transition: left 300ms linear 0s; }
#wistia_09343cf87b .wistia_playbar.wistia_dragging .wistia_scrub_bar { }
#wistia_09343cf87b .wistia_scrub_bar_top { height: 4px; left: 0px; position: absolute; top: 0px; width: 4px; background: rgba(255, 255, 255, 0.329412); }
#wistia_09343cf87b .wistia_scrub_bar_middle { height: 24px; left: 0px; position: absolute; top: 4px; width: 4px; background: rgba(255, 255, 255, 0.658824); }
#wistia_09343cf87b .wistia_scrub_bar_bottom { height: 4px; left: 0px; position: absolute; top: 28px; width: 4px; background: rgba(255, 255, 255, 0.329412); }
#wistia_09343cf87b .wistia_menu_item { color: rgb(85, 85, 85); font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; padding: 6px 16px; transition: none; -webkit-font-smoothing: antialiased; background: transparent; }
#wistia_09343cf87b .wistia_menu_item .wistia_bullet { display: inline-block; margin: -1px 7px 0px 0px; vertical-align: top; }
#wistia_09343cf87b .wistia_menu_item.wistia_visible { display: block; }
#wistia_09343cf87b .wistia_menu_item.wistia_hidden { display: none; }
#wistia_09343cf87b .wistia_menu_item:hover { color: rgb(255, 255, 255); background: rgb(84, 187, 255); }
#wistia_09343cf87b .wistia_menu_item.wistia_disabled { color: rgb(187, 187, 187); background: transparent; }
#wistia_09343cf87b .wistia_menu_item.wistia_title { color: rgb(187, 187, 187); font-size: 11px; line-height: 1em; padding-bottom: 3px; background: transparent; }
#wistia_09343cf87b .wistia_dont_animate { transition: none; }
#wistia_423 { object-fit: contain; }
#wistia_grid_424_wrapper { box-sizing: content-box; font-family: Arial, sans-serif; font-size: 14px; height: 100%; position: relative; text-align: left; width: 100%; }
#wistia_grid_424_wrapper * { box-sizing: content-box; }
#wistia_grid_424_above { position: relative; }
#wistia_grid_424_main { display: block; height: 100%; position: relative; }
#wistia_grid_424_behind { height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }
#wistia_grid_424_center { height: 100%; overflow: hidden; position: relative; width: 100%; }
#wistia_grid_424_front { display: none; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }
#wistia_grid_424_top_inside { position: absolute; left: 0px; top: 0px; width: 100%; }
#wistia_grid_424_top { width: 100%; position: absolute; bottom: 0px; left: 0px; }
#wistia_grid_424_bottom_inside { position: absolute; left: 0px; bottom: 0px; width: 100%; }
#wistia_grid_424_bottom { width: 100%; position: absolute; top: 0px; left: 0px; }
#wistia_grid_424_left_inside { height: 100%; position: absolute; left: 0px; top: 0px; }
#wistia_grid_424_left { height: 100%; position: absolute; right: 0px; top: 0px; }
#wistia_grid_424_right_inside { height: 100%; right: 0px; position: absolute; top: 0px; }
#wistia_grid_424_right { height: 100%; left: 0px; position: absolute; top: 0px; }
#wistia_grid_424_below { position: relative; }