
.activator-form tr {
	border-top-style: hidden;
	border-bottom-style: hidden;
}

.activator-form td input{
}

.activator-form p.submit{
	text-align: center;
}
div.test{
	color: red;
}

.errors {
	color: red
}

input[type="text"], 
input[type="email"],
input[type="number"],
select{
	color:black
}
select{
	-webkit-appearance:menulist-button
}


/* copied from strak-sbc.css*/
.sbc-sigasi-green{
     color: #fff;
     background-color: rgb(39, 174, 96);
     border-color: rgb(39, 174, 96);
 }

.sbc-sigasi-green:hover{
    color: #fff;
    background-color: rgb(37, 33, 97);
    border-color: rgb(37, 33, 97);
}