/* secondary navigation menu */

.nav > li {
	position: relative;
	display: block;
	font-size: 14px;
}

.nav > li.active {
	position: relative;
	display: block;
	font-weight: bold;
	background-color: #262262;// navy blue
	color: white;
}
.nav > li > a {
	font-size: 14px;
	font-weight: bold;
	color: #262262;// navy blue
}
.nav > li > a:hover {
	background-color: white;
	color: orange;
}
.nav > li.active > a:hover {
	background-color: white;
	color: orange;
}
.nav > li.active > a {
	color: white;
}

/* bullet lists */
.std-menu > div > ul {
	list-style: none;
}
ol {
	margin: auto auto 20px 20px;
	padding: 0;
	line-height: inherrit;
}

ul {
	list-style: initial;
	margin: auto auto 20px 20px;
	padding: 0;
	line-height: inherrit;
}

#mobile-menu > div > ul {
	list-style: none;
}

.page-header {
	margin-top: 10px;
}

h3, h3 a {
	color: #262262;
}

/* search button */
input[type="submit"].gsc-search-button {
    border-color: #262262 !important;
    margin-bottom: 0px;
    background-color: #262262 !important;
    color: #fff !important;
    height: 22px !important;
}
input.gsc-input {
    margin: 2px;
    margin-top: 4px;
    padding-top: 2px;
    height: 24px !important;
}
