{% extends "_base.html" %}

{% block body %}

<div class="container">

  {% block breadcrumbs %}
  <ol class="breadcrumb">
      {% for bc in this.breadcrumbs[:-1] %}
      <li><a href="{{bc.url}}">{{bc.title}}</a></li>
      {% endfor %}
      <li class="active">{{this.breadcrumbs[-1].title}}</li>
  </ol>
  {% endblock %}

  <div class="page-header">
    {% block title %}
    <h1>{{this.title}}</h1>
    <div>
    {% if this.date %}
        posted on {{this.date|dateformat}}
    {% endif %}
    {% if this.author %}
        by {{this.author}}
    {% endif %}
    </div>
    <div style="margin: 10px 0 10px">
    {% for tag in this.tags %}
        <a href="/tag/{{tag}}/" class="btn btn-default btn-xs">{{tag}}</a>
    {% endfor %}
    </div>
    {% endblock %}
  </div>
  
  

  <div class="row">
    {% if this.toc %}
    <div>
      {{this.toc}}
    </div>
    {% endif %}

    <div class="content">
      {% block content %}
      <div class="" role="main">
        {{this.body}}

        {% if this.comments %}
          {% include 'comments.html' %}
        {% endif %}
      </div>
      {% endblock %}
    </div>



  </div>

  {% if this.pager %}
  <ul class="pager">
    {% if this.prev %}
    <li class="previous"><a href="{{this.prev.url}}">&larr; {{this.prev.title}}</a></li>
    {% endif %}
    {% if this.next %}
    <li class="next"><a href="{{this.next.url}}">{{this.next.title}} &rarr;</a></li>
    {% endif %}
  </ul>
  {% endif %}
      
</div>

{% endblock %}

