{% extends "_base.html" %}

{% block body %}

<div class="container">

  {% block breadcrumbs %}
  <ol class="breadcrumb">
      {% for bc in this.breadcrumbs[:-1] %}
      <li><a href="{{bc.url}}">{{bc.title}}</a></li>
      {% endfor %}
      <li class="active">{{this.breadcrumbs[-1].title}}</li>
  </ol>
  {% endblock %}
  
  <div class="page-header">
    {% block title %}
    <section class="container">
      <div class="row">
      	
        <div class="spb_content_element col-sm-12 spb_text_column">
          <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
            <h1 style="text-align: center;">{{this.title}}</h1>
          </div>
        </div>
        
        {% if this.date %}
        {% if "/releasenotes/" in this.url %}
          released on {{this.date|dateformat}}
        {% else %}
          posted on {{this.date|dateformat}}
        {% endif %}
        {% endif %}
        {% if this.author %}
            by {{this.author}}
        {% endif %} 
      </div>
    </section>
    <div style="margin: 10px 0 10px">
      {% for tag in this.tags %}
          <a href="/tag/{{tag}}/" class="btn btn-default btn-xs">{{tag}}</a>
      {% endfor %}
    </div>
    {% endblock %}
  </div>
  
  

  <div class="row">

    <div class="content">
      {% block content %}
      <div class="col-md-9" role="main">
        {{this.body}}

        {% if this.comments %}
          {% include 'comments.html' %}
        {% endif %}
      </div>
      {% endblock %}
    </div>

    {% block sidebar %}
    {% if this.toc %}
    <div class="col-md-3" role="complementary">
      <nav class="hidden-print hidden-xs hidden-sm">
        <div class="sidebar" data-spy="affix" data-offset-top="510" >
          <div class="well">
            <a href="#"><strong>{{this.title}}</strong></a>
            {{this.toc}}
          </div>
        </div>
      </nav>
    </div>
    {% endif %}
    {% endblock %}

  </div>

  {% if this.pager %}
  <ul class="pager">
    {% if this.prev %}
    <li class="previous"><a href="{{this.prev.url}}">&larr; {{this.prev.title}}</a></li>
    {% endif %}
    {% if this.next %}
    <li class="next"><a href="{{this.next.url}}">{{this.next.title}} &rarr;</a></li>
    {% endif %}
  </ul>
  {% endif %}
      
</div>

{% endblock %}

