<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
{% set url_prefix = '' %}
{% if site.baseurl %}
{%   set url_prefix = '/' + site.baseurl %}
{% endif %}
    	<channel>
		<title>{{this.title}}</title>
 		<link>http://{{site.cname+url_prefix +"/css.xml"}}</link>
 		<description>Stay up to date on the latest news about Sigasi</description>
 		<language>en</language>
	{{ this.keys() }}
	
	{% for item in site.reflinks.values()[:1] %}
		<item>
			<guid isPermaLink="false">{{item.url}}</guid> 
			<pubDate>{{this.date}}</pubDate> 
			<title>{{this.title}}</title> 
			<description>descrtiption TODO
			</description> 
			<link>http://{{site.cname+url_prefix}}/{{item.url}}</link> 
			<author>{{item.author}}</author>
		</item>
	{% endfor %}

	</channel>
</rss> 

<!-- 
	{{ site.keys() }}
	
	{{ site.reflinks['/'].keys() }}
	
	
	
	[u'body', 'layout', 'author', u'url', u'breadcrumbs', 'title', u'next', 'tags', u'components', u'toc', 'date', u'mdate', u'prev', 'pager', u'id', u'fn'] -->