<div id="mobile-menu-wrap" class="menu-is-right">
	<nav id="mobile-menu" class="clearfix">
		<div class="menu-main_eng-container">
			<ul id="menu-main_eng" class="menu">
				
				{% for item in site.reflinks['/'].content %}
				{%	 set context = '' %}
				{%	 if item.components|d and this.components[0] == item.components[0] %}
				{%		 set context = 'active' %}
				{%	 endif %}
					<li class="menu-item menu-item-type-post_type menu-item-object-page {{context}}">
					<a href="{{item.url}}">{{item.title}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</nav>
</div>
