$sg-dark-purple: #262262;
$sg-orange: #f47920;
$sg-red: #ed1c24;
$sg-annotation: #ec6508;

html, body {
    scroll-padding-top: 42px;
}

.sg-front a {
    color: $sg-dark-purple;
}
.sg-front a:hover {
    color: $sg-orange;
}

.hanchor { font-size: 100%; visibility: hidden; color:#999;}
h1:hover a, h2:hover a, h3:hover a, h4:hover a { visibility: visible}

figcaption { text-align: center; }

.goodcode { text-decoration: none; border-bottom: 3px solid #80FF80; background-color: #D0FFD0; }
.error    { text-decoration: none; border-bottom: 3px solid #FF8080; background-color: #FFD0D0; }
.warning  { text-decoration: none; border-bottom: 3px solid #FF8040; background-color: #FFD080; }
.info     { text-decoration: none; border-bottom: 3px solid #4080FF; background-color: #D0D0FF; }

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.annotated-list li::marker {
    color: $sg-annotation
}

.annotated-list li:nth-child(1)::marker {
    content: '➊ '
}

.annotated-list li:nth-child(2)::marker {
    content: '➋ '
}

.annotated-list li:nth-child(3)::marker {
    content: '➌ '
}

.annotated-list li:nth-child(4)::marker {
    content: '➍ '
}

.annotated-list li:nth-child(5)::marker {
    content: '➎ '
}

.annotated-list li:nth-child(6)::marker {
    content: '➏ '
}

.annotated-list li:nth-child(7)::marker {
    content: '➐ '
}

.annotated-list li:nth-child(8)::marker {
    content: '➑ '
}

.annotated-list li:nth-child(9)::marker {
    content: '➒ '
}

.annotated {
    color: $sg-annotation;
}

@import "syntax.scss";
