dl dt {
    line-height: 180%;
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

dl dt:hover {
    overflow: visible;
    white-space: normal;
}

dl dd {
    line-height: 180%;
    margin-left: 180px;
}

#TableOfContents .uk-list>li:nth-child(n+2),
#TableOfContents .uk-list>li>ul {
    margin-top: 3px;
}