h1::before, h2::before, h3::before, h4::before, h5::before, h6::before { 
  display: block; 
  content: " "; 
  margin-top: -40px; 
  height: 40px; 
  visibility: hidden; 
  pointer-events: none;
}

.hanchor { font-size: 100%; visibility: hidden; color:#999;}
h1:hover a, h2:hover a, h3:hover a, h4:hover a { visibility: visible}
