h1 {
    line-height: 40px;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #262262;
}
html, body {
    background-color: #eeedf3;
    font-family: Open Sans;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

header .logo {
    height: 50px;
}

.uk-grid {
    max-width: 1200px;
    margin: auto;
    background: white;
}

#banner {
    background: url(/img/header_home.jpg);
    display: block;
    color: white;
    height: 194px;
}

.block-title {
    color: #262262;
    margin-top: 1em;
    font-weight: 700;
}

.sg-block-dark {
    background: #e0e0e0;
}

.uk-card-default {
    background: none;
    color: #666;
    box-shadow: none;
    text-align: center;
}

.uk-card-default .uk-card-title {
    color: red;
}

.uk-card-default .uk-icon svg{
    color: red;
    width: 55px;
}
#widgets {
    background: #262262;
    padding: 1em 0 0;
}
#copyright {
    background: #333;
    padding: 1em;
    font-size: 11px;
    color: white;
    margin:0; 
}