<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NBF8HKQ');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
  {{ if .Params.private }}
    <meta name="robots" content="noindex, nofollow">
  {{ else }}
    <meta name="robots" content="index, follow">
  {{ end }}
    <title>{{ block "title" . }}{{ .Page.Title }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $sass := resources.Get "sass/sigasi.scss" }}
    {{ $options := (dict "targetPath" "css/sigasi.min.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := $sass | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $style.Permalink }}"/>
    <link rel="alternate" type="application/rss+xml" href="{{ "/tech/index.xml" | absURL }}" title="Technical blog posts feed">
    <link rel="alternate" type="application/rss+xml" href="{{ "/screencasts/index.xml" | absURL }}" title="Screencasts feed">
    <link rel="alternate" type="application/rss+xml" href="{{ "/releasenotes/index.xml" | absURL }}" title="Releasenotes feed">
    <meta property="og:title" content="Sigasi" />
    <meta property="og:description" content="Your hardware design made faster, easier and more efficient" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ "/" | absURL }}" />
    <meta property="og:image" content="{{ "/img/logo_positive_1200.jpg" | absURL }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBF8HKQ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="uk-container sg-border-bottom uk-visible@m">
    <nav data-uk-navbar class="sg-navbar-top" id="sigasi-top">
        <div class="uk-navbar-left">
            <form action="https://www.sigasi.com/search" method="get">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: search"></span>
                    <input class="uk-input uk-form-small uk-form-width-medium" type="text" placeholder="Search" name="search">
                </div>
            </form>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="//www.sigasi.com/support/">Support</a></li>
                <li><a href="//www.sigasi.com/sdk/">Sigasi SDK</a></li>
                <li><a href="//www.sigasi.com/jobs/">Jobs</a></li>
                <li><a href="//www.sigasi.com/news/">News</a></li>
                <li><a href="//www.sigasi.com/contact/">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="uk-container">
    {{ partial "main-menu.html" . }}
</div>
{{ if .IsHome }}
<div class="uk-container sg-banner sg-home-banner">
    <p><span>Insights</span></p>
</div>
{{ else }}
{{ partial "general-banner" . }}
{{ end }}
<div class="uk-container">
    {{ partial "insights-menu.html" . }}
</div>


<!-- Code that all your templates share, like a header -->
{{ block "main" . }}
<!-- The part of the page that begins to differ between templates -->
The main part.
{{ end }}

<div  id="copyright" class="uk-container">
    <footer class="uk-clear-fix">
        <div class="uk-text-center uk-padding-small"><a href="/license">Copyright</a> Sigasi | <a
                href="https://www.sigasi.com">www.sigasi.com</a></div>
    </footer>
</div>
<a href="#sigasi-top">
    <div class="uk-position-fixed sg-scroller uk-visible@m" data-uk-scroll data-uk-totop>
    </div>
</a>

<div id="cookie_consent" class="section uk-position-bottom uk-position-fixed uk-hidden" style="background: white">
    <div class="uk-container uk-padding-small">
        This website uses  <a href="https://www.sigasi.com/cookies/">cookies</a>. By continuing to use this
        site you are giving consent to cookies being used.
        <a class="uk-button uk-button-default uk-align-right" data-cli_action="accept" id="close_cookie_consent">Accept &amp; close</a>
    </div>
</div>
<script src="/js/uikit.min.js"></script>
<script src="/js/uikit-icons.min.js"></script>
<script src="/js/consent.js"></script>
</body>

</html>
