{{ define "main" }}
<main>
  <div class="uk-container uk-padding">
      {{- if .PublishDate -}}
            {{- if eq .Section "releasenotes" -}}
            Released on {{ .PublishDate.Format "2006-01-02" }}
            {{- else -}}
            Posted on {{ .PublishDate.Format "2006-01-02" }}
            {{- end -}}
          {{- end -}}

          {{- if .Params.author }}
          by <span data-pagefind-filter="author">{{ .Params.author }}</span>
          {{- end -}}
          {{- if ne .PublishDate .Lastmod -}}
          <br>Last modified on {{ .Lastmod.Format "2006-01-02" }}
	  {{- if .Params.modifier }}
          by {{ .Params.modifier }}
          {{- end -}}
          {{- end -}}

          {{- $taxo := "tags" -}}
          {{- if .Param $taxo }}<br>Tagged as:{{ end }}
          {{ range .Param $taxo -}}
            {{- $name := . -}}
            {{- with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) -}}
            <a class="uk-button uk-button-default uk-button-small uk-border-rounded" href="{{ .Permalink }}">{{ $name }}</a>
            {{- end -}}
          {{- end -}}

          {{- if .Params.license -}}
          {{- partial "license" . -}}
          {{- end -}}

          {{- if eq .Params.activemenu "faq" -}}
          <div class="uk-card uk-card-default uk-card-body uk-width-2-3@m">
          {{- partial "table-of-contents.html" . -}}
          </div>
          {{- end -}}
          <hr>
  </div>
  <div class="uk-container">
    {{- if .Params.pager -}}
    <div uk-grid uk-height-match>
      <div class="uk-width-3-4@m">
    {{- end -}}
        <article
        {{ if eq .Type "page" "tech" "releasenotes" "screencasts" "manual" }}data-pagefind-body{{ end }}
        {{ if eq .Type "manual"}}data-pagefind-weight="2"{{ end }}
        data-pagefind-filter="Section:{{ .Type }}">
          {{- if .Params.slidesharekey }}
          {{ partial "slideshare" . }}
          {{ end -}}
          {{- if eq .Params.layout "youtube" }}
          {{ partial "youtube" . }}
          {{ end -}}
          {{- if eq .Params.layout "screencast" }}
          {{ partial "wistia" . }}
          {{ end -}}

          {{- with .Content -}}
          <div itemid="articleBody">
            {{ . | replaceRE "<table>" "<table class=\"uk-table uk-table-small uk-table-striped\">" | safeHTML }}
          </div>
          {{- end -}}

          {{ partial "related" . }}

          {{- if .Params.comments -}}
          {{- template "_internal/disqus.html" . -}}
          {{- end -}}
        </article>
        {{ if .Section }}
        {{ partial "previous-next" . }}
        {{ end }}
    {{- if .Params.pager -}}
      </div>
      <div class="uk-width-1-4@m uk-visible@m">
          <div class="sg-floatparent" data-uk-sticky="offset: 30">
            <aside class="uk-panel-scrollable sg-floatmenu uk-padding-small" uk-height-viewport="offset-bottom: 155px">
                {{- if .TableOfContents -}}
                <div class="uk-background-muted uk-padding-small">
                    <div class="uk-margin-small-bottom">
                        <h4>Table of Contents</h4>
                        <h5><a href="#sigasi-top" aria-label="Go to top">{{ .Title }}</a></h5>
                    </div>
                    <div class="uk-text-small">
                            {{ .TableOfContents | replaceRE "<ul>" "<ul class=\"uk-nav\">" | safeHTML }}
                    </div>
                </div>
                {{- end -}}
                {{- if .Params.bannerad -}}
                    {{ partial "bannerad" . }}
                {{- end -}}
            </aside>
          </div>
      </div>
    </div>
    {{- end -}}
  </div>
</main>

{{ end }}
