<div class="uk-card uk-background-default" style="z-index: 980;" uk-sticky="bottom: #offset">
<nav data-uk-navbar="mode: click">
    <div class="uk-navbar-left uk-visible@m">
    {{ $s_manual := where .Site.RegularPages.ByWeight "Section" "manual" }}
    {{ $s_relnotes := where .Site.RegularPages "Section" "releasenotes" }}
        <ul class="uk-navbar-nav uk-height-1-1 uk-flex">
            <li {{ if eq .Section "manual" }} class="uk-active" {{ end }}>
                <a href="/manual">Manual<span uk-icon="icon: triangle-down"></span></a>
                <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2 uk-box-shadow-medium">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        {{ range where $s_manual "Params.skipoverviewlist" "==" nil -}}
                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </li>
            <li {{ if eq .Params.activemenu "faq" }} class="uk-active" {{ end }}><a href="/faq">FAQ</a></li>
            <li {{ if eq .Section "releasenotes" }} class="uk-active" {{ end }}>
                <a href="/releasenotes/">Release Notes<span uk-icon="icon: triangle-down"></span></a>
                <div class="uk-navbar-dropdown uk-box-shadow-medium ">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        {{ range $s_relnotes -}}
                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </li>
            <li {{ if eq .Section "screencasts" }} class="uk-active" {{ end }}>
                <a href="/screencasts">Screencasts</a>
            </li>
            <li {{ if eq .Section "tech" }} class="uk-active" {{ end }}>
                <a href="/tech">Tech Articles</a>
            </li>
            <li {{ if eq .Section "opinion" }} class="uk-active" {{ end }}>
                <a href="/opinion">Opinion</a>
            </li>
        </ul>
    </div>
</nav>
</div>
