<nav data-uk-navbar class="sg-navbar-logo">
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo uk-padding-remove" href="//www.sigasi.com/">
            <img src="/img/logo_positive.jpg" height="50" alt="Sigasi logo" data-uk-img>
        </a>
    </div>
    <div class="uk-navbar-right uk-visible@m">
        <ul class="uk-navbar-nav uk-height-1-1 uk-flex">
            <li>
            <a class="uk-flex-middle uk-height-1-1" href="//www.sigasi.com/products/">Products</a>
            </li>
            <li>
            <a class="uk-flex-middle uk-height-1-1" href="//www.sigasi.com/try-buy/">Try &amp; Buy</a>
            <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li><a href="//www.sigasi.com/download/">Download</a></li>
                    <li><a href="//www.sigasi.com/try-form/">Get your license</a></li>
                    <li><a href="//www.sigasi.com/buy/">Buy</a></li>
                </ul>
            </div>
            </li>
            <li class="uk-active"><a class="uk-flex-middle uk-height-1-1" href="/">Insights</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/manual/">Manual</a></li>
                        <li><a href="/faq/">FAQ</a></li>
                        <li><a href="/releasenotes/">Release Notes</a></li>
                        <li><a href="/screencasts/">Screencasts</a></li>
                        <li><a href="/tech/">Tech Articles</a></li>
                        <li><a href="/opinion/">Opinion</a></li>
                    </ul>
                </div>
            </li>
            <li>
            <a class="uk-flex-middle uk-height-1-1" href="//www.sigasi.com/about/">About</a>
            </li>
        </ul>
    </div>
    <button class="uk-button uk-button-link uk-hidden@m uk-position-right" type="button"
            data-uk-toggle="target: #offcanvas-nav">
        <span class="uk-margin-small-right uk-icon" data-uk-icon="icon: menu; ratio: 2"></span>
    </button>
</nav>
<div id="offcanvas-nav" data-uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <li><a href="/">Insights</a></li>
            <li><a href="/manual">Manual</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/releasenotes">Release Notes</a></li>
            <li><a href="/screencasts">Screencasts</a></li>
            <li><a href="/tech">Tech Articles</a></li>
            <li><a href="/opinion">Opinion</a></li>
        </ul>
        <div class="uk-navbar-item uk-nav-center">
            <form class="uk-search uk-search-navbar" action="https://www.sigasi.com/search" method="get">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: search"></span>
                    <input class="uk-input uk-text-large" type="text" placeholder="Search" name="search">
                </div>
            </form>
        </div>
    </div>
</div>