<div class="uk-container">
    <nav data-uk-navbar>
        <div class="uk-navbar-left sg-navbar-logo">
            <a class="uk-navbar-item uk-logo uk-padding-remove" href="https://www.sigasi.com/">
                <img data-src="/img/logo_positive_200.jpg" alt="Sigasi logo" data-uk-img>
            </a>
        </div>

        <button class="uk-button uk-button-link uk-hidden@m uk-position-right" type="button"
                data-uk-toggle="target: #offcanvas-nav">
            <span class="uk-margin-small-right uk-icon" data-uk-icon="icon: menu; ratio: 2"></span>
        </button>
    </nav>
    <div id="offcanvas-nav" data-uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
    
            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                <li><a href="/">Insights</a></li>
                <li><a href="/manual/">Manual</a></li>
                <li><a href="/faq/">FAQ</a></li>
                <li><a href="/releasenotes/">Release Notes</a></li>
                <li><a href="/screencasts/">Screencasts</a></li>
                <li><a href="/tech/">Tech Articles</a></li>
                <li><a href="/opinion/">Opinion</a></li>
            </ul>
            <div class="uk-navbar-item uk-nav-center">
                <form class="uk-search uk-search-navbar" action="https:https://www.sigasi.com/search" method="get">
                    <div class="uk-inline">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: search"></span>
                        <input class="uk-input uk-text-large" type="text" placeholder="Search" name="search">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>