<nav class="uk-container uk-clearfix">
    <div data-uk-grid>
        <div class="uk-margin uk-margin-top uk-width-1-3@m">
            {{ with .NextInSection }}
            <a class="sg-insight-pager sg-left" href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
        </div>
        <div class="uk-width-expand"></div>
        <div class="uk-text-right uk-margin uk-margin-right uk-width-1-3@m">
            {{ with .PrevInSection }}
            <a class="sg-insight-pager sg-right" href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
        </div>
    </div>
</nav>
