<div class="uk-container sg-border-bottom uk-visible@m">
    <nav data-uk-navbar class="sg-navbar-top" id="sigasi-top">
        <div class="uk-navbar-left">
            <form action="https://www.sigasi.com/search" method="get">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: search"></span>
                    <input class="uk-input uk-form-small uk-form-width-medium" type="text" placeholder="Search" name="search">
                </div>
            </form>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="//www.sigasi.com/support/">Support</a></li>
                <li><a href="//www.sigasi.com/sdk/">Sigasi SDK</a></li>
                <li><a href="//www.sigasi.com/jobs/">Jobs</a></li>
                <li><a href="//www.sigasi.com/news/">News</a></li>
                <li><a href="//www.sigasi.com/contact/">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>
