{{ define "main" }}
<div class="uk-container sg-front">
    <div class="uk-padding uk-padding-remove-bottom">
        <div class="uk-text-center">
            <h1>Sigasi Studio Quick Start Guide</h1>
            <div class="uk-child-width-1-3@m uk-flex-center" data-uk-grid>
                {{ range $index, $element := .Site.Data.quickstart.items }}
                <div class="uk-card uk-card-hover uk-card-body uk-padding-remove-bottom">
                    <h2>Step {{ add $index 1 }} <span class="uk-margin-left" uk-icon="icon: {{ $element.icon }}; ratio: 2"></span></h2>
                    <h3>{{ $element.title }}</h3>
                    <ul class="uk-list">
                    {{ range $element.content }}
                    <li><span uk-icon="link"></span><a href="{{ .url }}">{{ .title }}</a></li>
                    {{ end }}
                    </ul>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="uk-padding uk-padding-remove-left">
        <hr>
        <div class="uk-child-width-1-2@m" data-uk-grid>
            <div>
                <h3>Popular Tech Articles</h3>
                {{ range .Site.Data.frontpage.popular }}
                <span uk-icon="link"></span><a href="{{ .url }}">{{ .title | truncate 55}}</a><small></small><br>
                {{ end }}
                <span uk-icon="link"></span><a href="/tech">more...</a><br>
            </div>
            <div>
                <h3>Recent Articles</h3>
                {{ $s_tech := where .Site.RegularPages.ByLastmod.Reverse "Section" "tech" }}
                {{ range first 10 $s_tech }}
                <span uk-icon="link"></span><a href="{{ .Permalink }}">{{ .Title | truncate 55 }}</a><small> {{ .Lastmod.Format "2006-01-02" }}</small><br>
                {{ end }}
            </div>
        </div>
        <hr>
        <div class="uk-child-width-1-2@m" data-uk-grid>
            <div>
                <h3>How may we help you?</h3>
                <p>If you have a question and you can't find the answer on this Sigasi Insights portal, 
                feel free to reach out and send us an email.</p>
                <ul class="uk-list">
                    <li>For support questions: <a href="mailto:support@sigasi.com">support@sigasi.com</a></li>
                    <li>For sales Enquiries: <a href="mailto:sales@sigasi.com">sales@sigasi.com</a></li>
                    <li>Or contact your <a href="//www.sigasi.com/contact/#our-distributors">local distributor</a></li>
                </ul>
            </div>
            <div>
                <h3>About Sigasi Insights</h3>
                <p>The Sigasi Insights portal is your entry point to all knowledge about Sigasi Studio
                and VHDL and SystemVerilog design. It combines</p>
                <ul class="uk-list">
                    <li>The Sigasi Studio <a href="/manual/">Manual</a>
                    <li>A list of <a href="/faq/">Frequently Asked Questions</a>
                    <li>A collection of <a href="/screencasts/">Screencasts</a>
                    <li><a href="/tech/">Tech Articles</a> with tips and tricks on various subjects
                    <li><a href="/vscode/">VS Code (Beta)</a> documentation
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-child-width-1-4@m uk-padding uk-padding-remove-left" data-uk-grid>
        {{ $s_screencasts := where .Site.RegularPages.ByLastmod.Reverse "Section" "screencasts" }}
        {{ range first 4 $s_screencasts }}
        <div>
            {{ partial "youtube" . }}
            <center>
                <a href="{{ .Permalink }}"><small>{{ .Title | truncate 40}}</small></a>
            </center>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}