{% extends "skeleton2.html" %}

{% block page_heading %}
<div class="page-heading page-heading-hidden clearfix">
	<div class="container">
		<div class="heading-text">
			<h1 class="entry-title" >{{this.title}}</h1>
		</div>
	</div>
</div>
{% endblock %}

{% block top_bar %}
<div id="top-bar" class="">
	<div class="container">
		<div class="col-sm-6 tb-left">
			<div class="tb-text">
				<div class="wgs_wrapper" id="wgs_widget_wrapper_id">
					<div id="___gcse_0">
						<div class="gsc-control-searchbox-only gsc-control-searchbox-only-en" dir="ltr">
							<form action="http://www.sigasi.com/search_gcse" method="GET">
								<table cellspacing="0" cellpadding="0" class="gsc-search-box">
									<tbody>
										<tr>
											<td class="gsc-input">
											<input autocomplete="off" type="text" size="10" class=" gsc-input " name="q" title="search" id="gsc-i-id1" dir="ltr" spellcheck="false" style="outline: none; background: url(&quot;http://www.google.com/cse/static/en/google_custom_search_watermark.gif&quot;) 0% 50% no-repeat rgb(255, 255, 255);">
											<input type="hidden" name="bgresponse" id="bgresponse">
											</td><td class="gsc-search-button">
											<input type="submit" value="Search" class="gsc-search-button" title="search">
											</td><td class="gsc-clear-button">
											<div class="gsc-clear-button" title="clear results">
												&nbsp;
											</div></td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 tb-right">
			<nav class="std-menu clearfix">
				<div class="menu-sub_eng-container">
					<ul id="menu-sub_eng" class="menu">
						<li class="menu-item-11999 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children		parent">
							<a href="http://www.sigasi.com/try/"><span class="menu-item-text">Try &amp; Buy</span></a>
							<ul class="sub-menu" style="top: 36px;">
								<li class="menu-item-11930 menu-item menu-item-type-post_type menu-item-object-page	 ">
									<a href="http://www.sigasi.com/pricing/">Pricing</a>
								</li>
								<li class="menu-item-11932 menu-item menu-item-type-post_type menu-item-object-page	 ">
									<a href="http://www.sigasi.com/download/">Download</a>
								</li>
								<li class="menu-item-11977 menu-item menu-item-type-post_type menu-item-object-page	 ">
									<a href="http://www.sigasi.com/edu-stud/">Request Student license</a>
								</li>
								<li class="menu-item-11976 menu-item menu-item-type-post_type menu-item-object-page	 ">
									<a href="http://www.sigasi.com/edu-prof/">Request Professor license</a>
								</li>
								<li class="menu-item-11983 menu-item menu-item-type-post_type menu-item-object-page	 ">
									<a href="http://www.sigasi.com/edu-float/">Request Classroom license</a>
								</li>
								<li class="menu-item-11935 menu-item menu-item-type-custom menu-item-object-custom	 ">
									<a href="https://sites.fastspring.com/sigasi/instant/S2NL-FS1Y-01-S">Buy direct</a>
								</li>
							</ul>
						</li>
						<li class="menu-item-11958 menu-item menu-item-type-custom menu-item-object-custom	 ">
							<a href="http://insights.sigasi.com/support"><span class="menu-item-text">Support</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>
{% endblock %}

{% block secondmenu %}
<div class="navbar-collapse collapse">
	<ul class="nav navbar-nav navbar-left">
		{% block home %}
		{% endblock %}
		{% for item in site.reflinks['/'].content %}
		{%	 set context = '' %}
		{%	 if item.components|d and this.components[0] == item.components[0] %}
		{%		 set context = ' class="active"' %}
		{%	 endif %}
		{%	 if item.content|d and item.dropdown %}
		<li{{context}} class="dropdown">
			<a href="{{item.url}}" class="dropdown-toggle" data-toggle="dropdown">{{item.title}} <b class="caret"></b></a>
			<ul class="dropdown-menu">
				{% for subitem in item.content %}
				<li>
					<a href="{{subitem.url}}">{{subitem.title}}</a>
				</li>
				{% endfor %}
			</ul>
			</li>
			{% else %}
			<li{{context}}>
				<a href="{{item.url}}">{{item.title}}</a></li>
				{%	 endif %}
				{% endfor %}
	</ul>
</div>
{% endblock %}

{% block rss %}
{% endblock %}

{% block copyright %}
<footer id="copyright" class="copyright-divider">
	<div class="container">
		<div class="text-left">
			Copyright Sigasi | <a href="http://www.sigasi.com">www.sigasi.com</a>
		</div>
		<div class="text-right">
			Sigasi Insights is powered by <a href="http://urubu.jandecaluwe.com">Urubu</a>
		</div>
	</div>
</footer>
{% endblock %}