<div class="tb-text">
	<div class="wgs_wrapper" id="wgs_widget_wrapper_id">
		<div id="___gcse_0">
			<div class="gsc-control-searchbox-only gsc-control-searchbox-only-en" dir="ltr">
				<form class="gsc-search-box" accept-charset="utf-8">
					<table cellspacing="0" cellpadding="0" class="gsc-search-box">
						<tbody>
							<tr>
								<td class="gsc-input">
								<input autocomplete="off" type="text" size="10" class=" gsc-input" name="search" title="search" id="gsc-i-id1" dir="ltr" spellcheck="false" style="outline: none; background: url(&quot;http://www.google.com/cse/static/en/google_custom_search_watermark.gif&quot;) left center no-repeat rgb(255, 255, 255);">
								<input type="hidden" name="bgresponse" id="bgresponse">
								</td><td class="gsc-search-button">
								<input type="button" value="Search" class="gsc-search-button" title="search">
								</td><td class="gsc-clear-button">
								<div class="gsc-clear-button" title="clear results">
									&nbsp;
								</div></td>
							</tr>
						</tbody>
					</table>
					<!--table cellspacing="0" cellpadding="0" class="gsc-branding">
						<tbody>
							<tr>
								<td class="gsc-branding-user-defined"></td><td class="gsc-branding-text">
								<div class="gsc-branding-text">
									powered by
								</div></td><td class="gsc-branding-img"><img src="https://www.google.com/uds/css/small-logo.png" class="gsc-branding-img"></td>
							</tr>
						</tbody>
					</table-->
				</form>
			</div>
		</div>
	</div>
</div>