{% extends "index.html" %}
  
  {% block selectedindex %}
  <div class="row">
    <div class="col-md-4" >
      <h3><a href="jan">Jan on HDL</a></h3>
      <p>
      {% for item in this.content|filtercontent('/blog/jan/')|filterlatest(5) %}
      <a href="{{item.url}}" title="{{item.title}}">{{item.title|cutoff}}</a> <br/>
      {% endfor %}
      <a href="jan">more...</a>
      </p>
    </div>
    
    <div class="col-md-4" >
      <h3><a href="emacs">Emacs</a></h3>
      <p>
      {% for item in this.content|filtercontent('/blog/emacs/')|filterlatest(5) %}
      <a href="{{item.url}}" title="{{item.title}}">{{item.title|cutoff}}</a> <br/>
      {% endfor %}
      <a href="emacs">more...</a>
      </p>
    </div>
    
    <div class="col-md-4" >
      <h3>Recent blog posts</h3>
      <p>
      {% for item in this.content|filterlatest(6) %}
      <a href="{{item.url}}" title="{{item.title}}">{{item.title|cutoff}}</a> <br/>
      {% endfor %}
      </p>
    </div>
  </div>
  
  <h3>All Articles</h3>
  {% endblock %}
