{% extends "index.html" %}

{% block title %}
{% endblock %}

  {% block selectedindex %}
  <div class="row">
    <div class="col-md-12" >
      <h3>Recommended Screencasts</h3>
      {% for item in this.content|sortpopular|filterfirst(6) %}
      <div class="col-md-4" >
	<div style="position:relative;">
	{% if item.layout == 'youtube' %}
	  {{item.videoid|youtube(300,200)}}
	{% else %}
          {{item.videoid|wistia(300,200)}}
	{% endif %}
	</div>
        <div style="height:80px;text-align:center"><a href="{{item.url}}"><h4>{{item.title}}</h4></a></div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" >
      <h3>Latests Screencasts</h3>
      {% for item in this.content|filterlatest(6) %}
      <div class="col-md-4" >
	<div style="align:center">
	{% if item.layout == 'youtube' %}
	  {{item.videoid|youtube(300,200)}}
	{% else %}
          {{item.videoid|wistia(300,200)}}
	{% endif %}
	</div>
        <div style="height:80px;text-align:center"><a href="{{item.url}}"><h4>{{item.title}}</h4></a></div>
      </div>
      {% endfor %}
    </div>
  </div>

  <h3>All Screencasts</h3>
  {% endblock %}
