{% extends "_base.html" %}

{% block body %}

{% block title %}

    <section class="container">
      <div class="row">
        <div class="spb_content_element col-sm-12 spb_text_column">
          <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;text-align: center;">
            {% block title_ %}
            <h1>{{this.title}}</h1>
            {% endblock %}
          </div>
        </div>
      </div>
    </section>

    <div style="margin: 10px 0 10px">
      {% for tag in this.tags %}
          <a href="/tag/{{tag}}/" class="btn btn-default btn-xs">{{tag}}</a>
      {% endfor %}
    </div>
{% endblock %}

<div class="container">
  {% block index %}
    {% block selectedindex %}
    {% endblock %}
    
    {% block mainindex %}
    <div class="row">
      <div class="col-md-offset-0 col-md-6" >
        {% for item in this.content|split(0) %}
        <p style="margin-bottom: 10px"><a href="{{item.url}}" title="{{item.title}}">{{item.title|cutoff(50)}}</a>
          {% if item.date|d %}
          <small>{{item.date|dateformat}}</small>
          {% endif %}
        </p>
        {% endfor %}
      </div>
      <div class="col-md-offset-0 col-md-6" >
        {% for item in this.content|split(1) %}
        <p style="margin-bottom: 10px"><a href="{{item.url}}" title="{{item.title}}">{{item.title|cutoff(50)}}</a>
          {% if item.date|d %}
          <small>{{item.date|dateformat}}</small>
          {% endif %}
        </p>
        {% endfor %}
      </div>
    </div>
    {% endblock %}
  {% endblock %}
</div>


{% endblock %}
