{% extends "_base.html" %}
{% block body %}
<div class="clearfix">
  <div class="page-content hfeed clearfix">
    <div class="clearfix post-11858 page type-page status-publish hentry" id="11858">
      <section class="row">
          <div class="spb_content_element col-sm-6 spb_text_column">
            <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
              {% block b1 %}{% endblock %}
            </div>
          </div>
          <div class="spb_content_element col-sm-6 spb_text_column">
            <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
              {% block b2 %}{% endblock %}
            </div>
          </div>
       </section>

       <div class="divider-wrap col-sm-12">
         <div class="spb_divider standard spb_content_element " style="margin-top: 0px; margin-bottom: 30px;"> </div>
       </div>

       <div class="divider-wrap col-sm-12">
       <section class="row">
          <div class="spb_content_element col-sm-4 spb_text_column">
            {% block a1 %}
            {% endblock %}
          </div>
          <div class="spb_content_element col-sm-4 spb_text_column">
            {% block a2 %}
            {% endblock %}
          </div>
          <div class="spb_content_element col-sm-4 spb_text_column">
            {% block a3 %}
            {% endblock %}
          </div>
       </section>
       </div>
      
      <section class="row fw-row">
        <div class="spb-row-container spb-row-full-width col-sm-12  remove-element-spacing col-natural" data-v-center="true" data-top-style="none" data-bottom-style="none" style="padding-left:0%;padding-right:0%;margin-top:0px;margin-bottom:0px;">
          {% block c1 %}
          {% endblock %}
        </div>
      </section>
      <section class="container">
        <div class="row">
          <div class="blank_spacer col-sm-12  " style="height:30px;"> </div>
        </div>
      </section>
      {% block d1 %}
      <section class="container">
        <div class="row">
          <div class="spb_content_element col-sm-12 spb_text_column">
            <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
              <h1 style="text-align: center;">Lorem ipsum dolor</h1>
            </div>
          </div>
        </div>
      </section>
      <section class="container">
        <div class="row">
          <div class="spb_content_element col-sm-12 spb_text_column">
            <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
              <p style="text-align: center;">
                Xerovit atisti dolupicium laccaborio qui quia cus ant et, ut experum inverfere ercilla volor si comnimolut evellor postoribus faccusam cor audae eosa ent est, corum alit prat etur reius. Pudanto mintiore non prorro enihitibea pro tempor molente caborpo reptate catius voluptatur aut liquas sintiun deserov idestia sinum.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="container">
        <div class="row">
          <div class="spb_content_element col-sm-4 spb_text_column">
            <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
              <h3 style="text-align: center;">Title</h3>
              <p style="text-align: center;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus mauris id metus accumsan tempor. Suspendisse posuere dapibus auctor. Mauris non faucibus nulla. Etiam sit amet malesuada ipsum.
              </p>
            </div>
          </div>
          <div class="spb_content_element col-sm-4 spb_text_column">
            <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
              <h3 style="text-align: center;">Title</h3>
              <p style="text-align: center;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus mauris id metus accumsan tempor. Suspendisse posuere dapibus auctor. Mauris non faucibus nulla. Etiam sit amet malesuada ipsum.
              </p>
            </div>
          </div>
          <div class="spb_content_element col-sm-4 spb_text_column">
            <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
              <h3 style="text-align: center;">Title</h3>
              <p style="text-align: center;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus mauris id metus accumsan tempor. Suspendisse posuere dapibus auctor. Mauris non faucibus nulla. Etiam sit amet malesuada ipsum.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="row fw-row">
        <div class="spb_slider_widget spb_content_element col-sm-12">
          <div class="spb-asset-content spb_wrapper slider-wrap">
          </div>
        </div>
      </section>
      <section class="container">
        <div class="row">
          <div class="blank_spacer col-sm-12  " style="height:30px;"> </div>
        </div>
      </section>
      <section class="container">
        <div class="row">
          <div class="spb-column-container col-sm-3  " style="">
            <div class="spb-asset-content" style="">
              <section class="container">
                <div class="row">
                  <div class="spb_content_element spb_image noframe col-sm-12 thumbnail-default">
                    <div class="spb-asset-content">
                      <figure class="animated-overlay overlay-alt clearfix"><img width="227" height="140" src="{{url_prefix}}/css/Sigasi_home_quote_11.png" class="attachment-full" alt="Sigasi_home_quote_1"><a class="lightbox ilightbox-enabled" href="{{url_prefix}}/css/Sigasi_home_quote_11.png" data-rel="ilightbox[11816-206]" data-caption=""></a><div class="figcaption-wrap"> </div>
                        <figcaption>
                          <div class="thumb-info thumb-info-alt">
                            <i class="ss-view"></i>
                          </div>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </section>
              <section class="container">
                <div class="row">
                  <div class="spb_content_element col-sm-12 spb_text_column">
                    <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
                      <h4 style="text-align: center;">“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</h4>
                      <p style="text-align: center;">
                        <strong>Voornaam Naam
                        <br>
                        </strong><span style="color: #262262;">Sigasi</span>
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="spb-column-container col-sm-3  " style="">
            <div class="spb-asset-content" style="">
              <section class="container">
                <div class="row">
                  <div class="spb_content_element spb_image noframe col-sm-12 thumbnail-default">
                    <div class="spb-asset-content">
                      <figure class="animated-overlay overlay-alt clearfix"><img width="227" height="140" src="{{url_prefix}}/css/Sigasi_home_quote_11.png" class="attachment-full" alt="Sigasi_home_quote_1"><a class="lightbox ilightbox-enabled" href="{{url_prefix}}/css/Sigasi_home_quote_11.png" data-rel="ilightbox[11816-830]" data-caption=""></a><div class="figcaption-wrap"> </div>
                        <figcaption>
                          <div class="thumb-info thumb-info-alt">
                            <i class="ss-view"></i>
                          </div>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </section>
              <section class="container">
                <div class="row">
                  <div class="spb_content_element col-sm-12 spb_text_column">
                    <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
                      <h4 style="text-align: center;">“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</h4>
                      <p style="text-align: center;">
                        <strong>Voornaam Naam
                        <br>
                        </strong><span style="color: #262262;">Sigasi</span>
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="spb-column-container col-sm-3  " style="">
            <div class="spb-asset-content" style="">
              <section class="container">
                <div class="row">
                  <div class="spb_content_element spb_image noframe col-sm-12 thumbnail-default">
                    <div class="spb-asset-content">
                      <figure class="animated-overlay overlay-alt clearfix"><img width="227" height="140" src="{{url_prefix}}/css/Sigasi_home_quote_11.png" class="attachment-full" alt="Sigasi_home_quote_1"><a class="lightbox ilightbox-enabled" href="{{url_prefix}}/css/Sigasi_home_quote_11.png" data-rel="ilightbox[11816-969]" data-caption=""></a><div class="figcaption-wrap"> </div>
                        <figcaption>
                          <div class="thumb-info thumb-info-alt">
                            <i class="ss-view"></i>
                          </div>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </section>
              <section class="container">
                <div class="row">
                  <div class="spb_content_element col-sm-12 spb_text_column">
                    <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
                      <h4 style="text-align: center;">“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</h4>
                      <p style="text-align: center;">
                        <strong>Voornaam Naam
                        <br>
                        </strong><span style="color: #262262;">Sigasi</span>
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="spb-column-container col-sm-3  " style="">
            <div class="spb-asset-content" style="">
              <section class="container">
                <div class="row">
                  <div class="spb_content_element spb_image noframe col-sm-12 thumbnail-default">
                    <div class="spb-asset-content">
                      <figure class="animated-overlay overlay-alt clearfix"><img width="227" height="140" src="{{url_prefix}}/css/Sigasi_home_quote_11.png" class="attachment-full" alt="Sigasi_home_quote_1"><a class="lightbox ilightbox-enabled" href="{{url_prefix}}/css/Sigasi_home_quote_11.png" data-rel="ilightbox[11816-184]" data-caption=""></a><div class="figcaption-wrap"> </div>
                        <figcaption>
                          <div class="thumb-info thumb-info-alt">
                            <i class="ss-view"></i>
                          </div>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </section>
              <section class="container">
                <div class="row">
                  <div class="spb_content_element col-sm-12 spb_text_column">
                    <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
                      <h4 style="text-align: center;">“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</h4>
                      <p style="text-align: center;">
                        <strong>Voornaam Naam
                        <br>
                        </strong><span style="color: #262262;">Sigasi</span>
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
      <section class="container">
        <div class="row">
          <div class="blank_spacer col-sm-12  " style="height:30px;"> </div>
        </div>
      </section>
      <section class="container">
        <div class="row">
          <div class="divider-wrap col-sm-12">
            <div class="spb_divider standard spb_content_element " style="margin-top: 0px; margin-bottom: 30px;"> </div>
          </div>
        </div>
      </section>
      <section class="container">
        <div class="row">
          <div class="blank_spacer col-sm-12  " style="height:30px;"> </div>
        </div>
      </section>
      <section class="container">
        <div class="row">
          <div class="spb_content_element col-sm-6 spb_text_column">
            <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
              <h3 style="text-align: left;">Lorem ipsum dolor</h3>
              <p style="text-align: left;">
                Xerovit atisti dolupicium laccaborio qui quia cus ant et, ut experum inverfere ercilla volor si comnimolut evellor postoribus faccusam cor audae eosa ent est, corum alit prat etur reius. Pudanto mintiore non prorro enihitibea pro tempor molente caborpo reptate catius voluptatur aut liquas sintiun deserov idestia sinum:
              </p>
              <ul>
                <li style="text-align: left;">
                  Xerovit atisti dolupicium laccaborio qui quia cus ant et, ut experum inverfere ercilla volor si comnimolut evellor postoribus faccusam cor audae eosa ent est, corum alit prat etur reius
                </li>
                <li style="text-align: left;">
                  Pudanto mintiore non prorro enihitibea pro tempor molente caborpo reptate catius voluptatur aut liquas sintiun deserov idestia sinum.
                </li>
              </ul>
            </div>
          </div>
          <div class="spb_content_element col-sm-6 spb_text_column">
            <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
              <h3 style="text-align: left;">Lorem ipsum dolor</h3>
              <p style="text-align: left;">
                Xerovit atisti dolupicium laccaborio qui quia cus ant et, ut experum inverfere ercilla volor si comnimolut evellor postoribus faccusam cor audae eosa ent est, corum alit prat etur reius. Pudanto mintiore non prorro enihitibea pro tempor molente caborpo reptate catius voluptatur aut liquas sintiun deserov idestia sinum:
              </p>
              <ul>
                <li style="text-align: left;">
                  Xerovit atisti dolupicium laccaborio qui quia cus ant et, ut experum inverfere ercilla volor si comnimolut evellor postoribus faccusam cor audae eosa ent est, corum alit prat etur reius
                </li>
                <li style="text-align: left;">
                  Pudanto mintiore non prorro enihitibea pro tempor molente caborpo reptate catius voluptatur aut liquas sintiun deserov idestia sinum.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      {% endblock %}
    </div>
  </div>
  <!-- CLOSE page -->
</div>
{% endblock %}
