{% extends "insights_parent.html" %}

{% block b1 %}
    <h3>{{this.b1.title}}</h3>
    {{this.b1.content|md}}
{% endblock %}

{% block b2 %}
    <h3>{{this.b2.title}}</h3>
    {{this.b2.content|md}}
{% endblock %}

{% block a1 %}
<div class="spb_content_element col-sm-12 spb_text_column spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
	<h4><span style="color: #262262;">First Start</span></h4>
	<p>
		{% for item in this.links1 %}
		<img class="alignnone size-full wp-image-11863" src="{{url_prefix}}/css/sigasi_chainicon.png" alt="sigasi_chainicon" width="13" height="12">
		&nbsp;<a href="{{item.url}}" title="{{item.title}}"><span style="color: #262262;">{{item.title|truncate(40)}}</span></a>
		<br/>
		{% endfor %}
	</p>
</div>
{% endblock %}

{% block a2 %}
<div class="spb_content_element col-sm-12 spb_text_column spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
	<h4><span style="color: #262262;">Popular Tech Articles</span></h4>
	<p>
		{% for item in this.content|filtercontent('/tech/')|sortpopular|filterfirst(9) %}
		<img class="alignnone size-full wp-image-11863" src="{{url_prefix}}/css/sigasi_chainicon.png" alt="sigasi_chainicon" width="13" height="12">
		&nbsp;<a href="{{item.url}}" title="{{item.title}}"><span style="color: #262262;">{{item.title|truncate(40)}}</span></a>
		<br/>
		{% endfor %}
		<img class="alignnone size-full wp-image-11863" src="{{url_prefix}}/css/sigasi_chainicon.png" alt="sigasi_chainicon" width="13" height="12">
		&nbsp;<a href="/tech" title="More Tech Articles"><span style="color: #262262;">more...</span></a>
		<br/>
	</p>
</div>
{% endblock %}

{% block a3 %}
<div class="spb_content_element col-sm-12 spb_text_column spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:0%;padding-right:0%;">
	<h4><span style="color: #262262;">Recent Articles</span></h4>
	<p>
		{% for item in this.content|filtercontent(['/tech/','/opinion/'])|filterlatest(10) %}
		<img class="alignnone size-full wp-image-11863" src="{{url_prefix}}/css/sigasi_chainicon.png" alt="sigasi_chainicon" width="13" height="12">
		&nbsp;<a href="{{item.url}}" title="{{item.title}}"><span style="color: #262262;">{{item.title|truncate(32)}}</span></a>
			<small>{{item.date|dateformat}}</small>
		<br/>
		{% endfor %}
	</p>
</div>
{% endblock %}

{% block c1 %}
<div class="spb_content_element" style="padding-top:0px;padding-bottom:0px;">
	<section class="container">
		<div class="row multi-column-row" style="min-height: 172px;background: #262262!important;color: #ffffff!important">
			{% for item in this.content|filtercontent('/screencasts/')|filterlatest(4) %}
			<div class="spb_content_element spb_box_content col-sm-3" style="min-height: 172px;">
				<div class="spb-bg-color-wrap coloured" >
					<div class="spb-asset-content">
						<div class="box-content-wrap" style="padding-top:10%;padding-bottom:10%;padding-left:0%;padding-right:0%;">
							{% if item.layout == 'youtube'%}
							<div style="display: table;margin: 0 auto;">
							  {{item.videoid|youtube(240,160)}}
							</div>
							{% else %}
							  {{item.videoid|wistia(240,160)}}
							{% endif %}
							<h5 style="text-align: center;" title="{{item.title}}"><span style="color: #ffffff;">{{item.title|truncate(35)}}</span></h5>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<!-- <p style="text-align:right"><a href="/screencast">more screencasts...</a></p> -->
		</div>
	</section>
</div>
{% endblock %}


{% block d1 %}
{% endblock %}
