<div class="float-menu container">
	<nav id="main-navigation" class="std-menu clearfix">
		<div class="menu-main_eng-container">
			<ul id="menu-main_eng-1" class="menu">
				{% for menuitem in site.menuitems %}
				<li  class="menu-item-11838 menu-item menu-item-type-post_type menu-item-object-page sf-std-menu {% if menuitem.active %}current-menu-item page_item page-item-11858 current_page_item{% endif %}" >
					<a href="{{menuitem.url}}"><span class="menu-item-text">{{menuitem.title}}</span></a>
					{% if menuitem.active %}
					<ul class="sub-menu" style="top: 100px; display: none;">
						{% for item in site.reflinks['/'].content %}
						<li class="menu-item-11957 menu-item menu-item-type-custom menu-item-object-custom sf-std-menu">
							<a href="{{item.url}}">{{item.title}}</a>
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</nav>

	<nav class="std-menu float-alt-menu">
		<ul class="menu"></ul>
	</nav>
</div>