{% extends "page.html" %}

{% block content %}
  <div class="col-md-9" role="main">
    <div class="container">
      <center>
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/{{this.key}}" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen>
        </iframe>
      </center>
    </div>
    {{ this.body }}

    {% if this.comments %}
      {% include 'cantilis/comments.html' %}
    {% endif %}
  </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
