{% extends "_base.html" %}

{% block body %}

<div class="container">
  {% block breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="{{url_prefix + '/'}}">Home</a></li>
    <li><a href="{{url_prefix + '/tag/'}}">Tags</a></li>
    <li class="active">{{this.title}}</li>
  </ol>
  {% endblock %}

  <div class="page-header">
    {% block title %}
    <h1>Articles about : {{this.title}}</h1>
    {% endblock %}
  </div>
	
  <div class="row">
    <div class="col-md-7 col-md-offset-2" role="main">
      {% for item in this.content %}
      <h4><a href="{{item.url}}">{{item.title}}</a>
        {% if item.date|d %}
        <small>{{item.date|dateformat}}</small></h4>
        {% endif %}
      </h4>
      <p>{{item.teaser}}</p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
