{% extends "page.html" %}

{% block content %}
  <div class="col-md-12" role="main">
    <div class="container">
      <center>
        <iframe src="https://www.youtube.com/embed/{{this.videoid}}?modestbranding=1&rel=0&showinfo=0" gesture="media" allow="encrypted-media" allowfullscreen="" width="640" height="360" frameborder="0">
	</iframe>
      </center>
    </div>
    {{ this.body }}

    {% if this.comments %}
      {% include 'cantilis/comments.html' %}
    {% endif %}
  </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
