{{ $numOfParams := len .Params }}
{{ if (or (ge $numOfParams 3) (and (ge $numOfParams 2) (ne (.Get 0) "sv")) ) }}
## Project specific setting of these rules

These rules can be disabled for your project, or its severity can be modified in the [project linting settings](/manual/linting/#project-specific-linting-settings).
{{ else }}
## Project specific setting of this rule

This rule can be disabled for your project, or its severity can be modified in the [project linting settings](/manual/linting/#project-specific-linting-settings).
{{ end }}

{{ if ( ne (.Get 0) "sv") }}
Manual configuration in `${project location}/.settings/com.sigasi.hdt.vhdl.linting.prefs`:
{{ else }}
Manual configuration in `${project location}/.settings/com.sigasi.hdt.verilog.linting.prefs`:
{{ end }}

{{ range .Params -}}
{{ if ( ne . "sv") }}
`{{ .}}/severity/<project>=IGNORE`  
{{ end }}
{{ end -}}
