{{ $scratch := newScratch }}
{{ $text := .Get "text" }}

{{ $scratch.Set "fgcolor" "white"}}

{{ with .Get "color" }}
{{ $scratch.Set "bgcolor" . }}
{{ else }}
  {{ if eq $text "VHDL" }}
  {{ $scratch.Set "bgcolor" "#ec6508" }}
  {{ else if or (eq $text "Verilog") (eq $text "SystemVerilog") }}
  {{ $scratch.Set "bgcolor" "#5a2778" }}
  {{ else if strings.Contains $text "Eclipse" }}
  {{ $scratch.Set "bgcolor" "#93245a" }}
  {{ else if strings.Contains $text "VS Code" }}
  {{ $scratch.Set "bgcolor" "#ed1c24" }}
  {{ else }}
  {{ $scratch.Set "bgcolor" "#e0e0e0" }}
  {{ $scratch.Set "fgcolor" "#302158" }}
  {{ end }}
{{ end }}

<span style="font-weight: bold; color: {{ $scratch.Get "fgcolor" }}; background-color: {{ $scratch.Get "bgcolor" }}; padding: 2px 7px; border-radius: 50px; margin-right: 0.2em; white-space: nowrap">{{ $text }}</span>