{{ $scratch := newScratch }}
{{ $text := .Get "text" }}

{{ with .Get "color" }}
{{ $scratch.Set "bgcolor" . }}
{{ else }}
  {{ if eq $text "VHDL" }}
  {{ $scratch.Set "bgcolor" "#f47920" }}
  {{ else if or (eq $text "Verilog") (eq $text "SystemVerilog") }}
  {{ $scratch.Set "bgcolor" "#323286" }}
  {{ else if strings.Contains $text "Eclipse" }}
  {{ $scratch.Set "bgcolor" "#93245a" }}
  {{ else }}
  {{ $scratch.Set "bgcolor" "black" }}
  {{ end }}
{{ end }}

<span style="font-weight: bold; color: white; background-color: {{ $scratch.Get "bgcolor" }}; padding: 2px 7px; border-radius: 50px; margin-right: 0.2em">{{ $text }}</span>